.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
  margin-left: 70px;
}

.container-1 {
  /* background-image: url("../assets//contactbg.jpg"); */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  color: white;
  display: flex;
  padding: 10px;
  width: 400px;
  height: 440px;

  border: 2px solid white;
  border-radius: 10px;
}
.line-contact {
  /* margin-left: 200px;
  margin-right: 200px; */
  width: 3px !important;
  height: 300px !important;
  background-color: white;
}
form {
  display: grid;
}
.react-icons {
  display: block;
}
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  padding: 20px;
  width: 100px;
}
.icons:hover {
  color: blue;
  transition: 0.3s;
  cursor: pointer;
}

input,
textarea {
  width: 330px;
  margin: 10px;
  color: black;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(203, 200, 200);
  outline: none;
  border: 1px solid black;
}

button {
  background-color: transparent;
  border: 1px solid white;
  width: 200px;
  margin-top: 20px;
  margin-left: 26%;
  border-radius: 10px;
}
p {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
h4 {
  text-align: center;
  font-size: 18px !important;
}

@media only screen and (max-width: 600px) {
  h4 {
    /* margin: 0px auto !important; */
    margin-top: 30px;
    text-align: center;
  }
  .container {
    margin: 10px !important;
    padding: 0px !important;
    display: block;
    font-size: 14px;
  }
  .container-2 {
    display: block;
    margin-bottom: 30px;
    /* margin-left: 0px !important; */
  }
  .icons {
    display: flex;
    margin-left: 0px;
  }
  .line-contact {
    margin: 0 auto !important;
    width: 100px !important;
    height: 3px !important;
    background-color: white;
    /* margin-bottom: 40px; */
  }
  .container-1 {
    margin: 30px;
    width: 300px;
    height: 380px;
  }
  input {
    width: 250px;
    height: 20px;
    margin: 10px;
    color: black;
    font-size: 14px;
    /* border-radius: 10px; */
    background-color: rgb(203, 200, 200);
    outline: none;
    border: 1px solid black;
  }
  textarea{
    width: 250px;
    height: 100px;
    margin: 10px;
    color: black;
    font-size: 14px;
    /* border-radius: 10px; */
    background-color: rgb(203, 200, 200);
    outline: none;
    border: 1px solid black;
  }
  button {
    text-indent: 9px;
    display: flex;
    margin-top: 80px !important;
    width: 140px;
    margin-bottom: 30px !important;
    padding: 4px;
    font-size: 14px;
    /* height: 20px; */
  }
}
