.display-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 80px;
  margin: 30px;
  padding: 30px;
}
.image {
  margin: 30px;
}
.connection {
  display: flex;
  justify-content: center;
}
/* .home-container{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
} */
.myimg {
  border-radius: 30% 70% 70% 30% / 30% 49% 51% 70%;
  box-shadow: 10px 10px 5px 2px rgba(242, 241, 241, 0.75);
  -webkit-box-shadow: 10px 10px 5px 2px rgba(242, 241, 241, 0.75);
  -moz-box-shadow: 10px 10px 5px 2px rgba(242, 241, 241, 0.75);

}
.additional-info{
  width: 50%;
  margin: 50px;
}
.additional-info>p{
  text-indent: 30px;
  font-size: 18px;
}
.content-home{
  display: flex;
  font-size: 20px;
}
li{
 margin: 10px;
  list-style-type: disc !important;
  font-size: large;
}
h5{
  font-size: large;
}
.additional-img{
  background: transparent;
}
.add-main{
  display: flex;
}
.additional-img{
  height: 80%;
}
li:hover{
  cursor: pointer;

}
p , span{
  font-size:18px ;
}
@media only screen and (max-width: 600px) {

  .display-content {
    display: block;
    font-size: 14px;
    padding-right: 20px;
    margin: 20px;
  }
  .myimg {
    width: 200px;
    height: 200px;
    margin: 10px;
    margin-bottom: 20px;
  }
 
  .homepage-content {
    margin-right: 30px;
    font-size: 14px;
  }
  h5{
    margin: 10px 0px;
    font-size: 14px;
  }
  .options-div>li>a{
    font-size: 14px;
  }
  .options-div>li>a>i{
    font-size: 14px;
  }

  h3{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    margin-left: 0px !important;
    width: 80%;
  }
  .additional-info{
    width: 80%;
    margin: 50px;
  }
  .additional-info>p{
    font-size: 14px;
  }
  .content-home{
    display: flex;
    font-size: 16px !important;
  }
  .add-main{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .additional-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0px auto;
    margin-bottom: 30px;
  }
}
