.navbar-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  /* background-color: bisque; */
  /* z-index: -1; */
  position: sticky;
}
.navbar-container{
  display: flex;
  justify-content: space-evenly;
}
.navbar-link {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 20px;
}
a {
  padding: 10px;
  text-decoration: none;
  color: white;
}
.resume-button {
  border-radius: 20px;
 /* background-color: navajowhite; */
  padding: 0px;
  margin: 0px;
}
.responsive-icon{
  display: none;
}
@media only screen and (max-width:600px) {
  *{
    margin: 0px;
  }
  .navbar-content{
    /* color: aqua; */
    display: none;
    font-size: 12px;

  }
}
