.container-project{
  width: 90%;
  margin: 40px;
}
.internships {
  border-bottom: 3px solid white;
}
.project-heading .intership-heading{
  font-size: 16px;
}
.colorpicker{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px ;
}
li{
  font-size: 20px ;
}
@media only screen and (max-width: 600px) {
  *{
    margin: 0px;
  }
  .container-project{
    width: 80%;
    margin: 30px;
    font-size: 14px;
  }
  .project-heading .intership-heading{
    font-size: 12px;
  }
  h2{
    font-size: 16px;
  }
  li{
     font-size: 14px;
  }
  .colorpicker{
    font-size: 20px !important;
  }
}
