* {
  background-color: rgb(36, 72, 85);
  color: white;
  /* font-family: sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  font-size: large;
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700 */
a {
  text-decoration: none !important;
}
